{% extends 'base.html.twig' %}


{% block body %}
    <section class="section">
        <div class="row" id="basic-table">
        </div>
        <section class="section">
            <div class="row">

                <div class="col-md-12">
                    <div class="card">

                        <div class="card-body">
                            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <img src="assets/images/samples/banana.jpg" class="d-block w-100" alt="...">
                                    </div>
                                    <div class="carousel-item">
                                        <div class="col-12 col-md-12">
                                            <div class="card">
                                                <div class="card-header">
                                                    <h4 class="card-title">Table of consulting holidays</h4>
                                                </div>
                                                <div class="card-content">
                                                    <div class="card-body" style="padding-top: 0%">

                                                        <!-- Table with outer spacing -->
                                                        <div class="table-responsive " >
                                                            <table class="table table-lg">
                                                                <thead>
                                                                <tr>
                                                                    <th>January</th>
                                                                </tr>
                                                                </thead>
                                                                <tbody>
                                                                <tr>
                                                                    <td class="text-bold-500">Anis Allagui</td>
                                                                    <td>1</td>
                                                                    <td>2</td>
                                                                    <td>3</td>
                                                                    <td>4</td>
                                                                    <td>5</td>
                                                                    <td>6</td>
                                                                    <td>7</td>
                                                                    <td>8</td>
                                                                    <td>9</td>
                                                                    <td>10</td>
                                                                    <td>11</td>
                                                                    <td>12</td>
                                                                    <td>13</td>
                                                                    <td>14</td>
                                                                    <td>15</td>
                                                                    <td>16</td>
                                                                    <td>17</td>
                                                                    <td>18</td>
                                                                    <td>19</td>
                                                                    <td>20</td>
                                                                    <td>21</td>
                                                                    <td>22</td>
                                                                    <td>23</td>
                                                                    <td>24</td>
                                                                    <td>25</td>
                                                                    <td>26</td>
                                                                    <td>27</td>
                                                                    <td>28</td>
                                                                    <td>29</td>
                                                                    <td>30</td>
                                                                    <td>31</td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="text-bold-500">Monday</td>


                                                                </tr>
                                                                <tr>
                                                                    <td class="text-bold-500">Tuesday</td>

                                                                </tr>
                                                                <tr>
                                                                    <td class="text-bold-500">wednesday</td>

                                                                </tr>
                                                                <tr>
                                                                    <td class="text-bold-500">thursday</td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="text-bold-500">friday</td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="text-bold-500">saturday</td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="text-bold-500">sunday</td>
                                                                </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <a class="carousel-control-prev" href="#carouselExampleControls" role="button"
                                   data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Previous</span>
                                </a>
                                <a class="carousel-control-next" href="#carouselExampleControls" role="button"
                                   data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>
    </section>
{% endblock %}